{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

      {% if productos %}
    <ul>
      {% for producto in productos %}
        <div class="listing">
          <div class="listing-image">
            <img src="{{ MEDIA_URL }}{{ producto.id_imagen__imagen}}" alt="{{ producto.p_nombre }}">
          </div>
          <div class="listing-details">
            <h2>{{ producto.p_nombre }}</h2>
            <p>Created: {{ producto.subasta__s_fecha_ini}}</p>
            <p>Current Bid: {{ producto.p_monto_ini }}</p>
          </div>
        </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>No active auctions available.</p>
  {% endif %}
    TODO
{% endblock %}