body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

/* index */
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
  li {
    float: right; 
  }
  
  a {
    color: rgba(0,0,0,.87);
    margin-right: 10px;
    padding: 10px 10px 10px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

.imgcontainer {  
  
  display: flex;
  justify-content: center; 
  margin-top: 20px; */
  }

img {
    width: 270px;
    height: 92px;
    margin: auto;
    margin-top: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
 .navbutton {
  display: inline;
  border-color: lightgrey;
  border-radius: 24px;
  width: 100%;
  height: 27px;
  line-height: 22px;
  font-size: 16px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
}

.centrado {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;  
  width:40%;  
}
/* table advanced search */
.advanced {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
}
.searchtitle{
  color: #d93025;
  margin-left:20px;
  margin-bottom:30px;
}

.buttonsearch {
  justify-content: left;
  background-color: white;
  border: 0.5px solid lightgray;
  cursor: pointer;
  user-select:auto;
  padding: 6px; 
  line-height: 20px;
  text-align: center;
  min-width: 54px;
  border-radius: 4px;

}
.buttonsearch:hover {
  border: 1px solid gray;
}



.textinput {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.questions {
  margin: 10px;
  padding: 10px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.button {
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

h6 {
  /* flex: 0.5 auto; */
  margin: auto;
  padding-left: 180px;
  color:#4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif
  }

  .button_s {
  
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  
  }
.imggoogle {
  display:inline-table;
  width: 50%;
  vertical-align: left;
}

div.search_image {
  width: 50%;
  margin: 20px auto;
  padding: 15px;
}

div.search_image img {
  width: 20%;
}

/* advanced search*/
.left {
  display: flex;
  flex-wrap: nowrap;
  align-items:start;
}
