body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
  li {
    float: right;
  }
  
  a {
    
    color: rgba(0,0,0,.87);
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

.imgcontainer {  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  /* padding: 10px;
    padding: 10px;
    margin-top: 20px; */
  }

  img {
    width: 270px;
    height: 92px;
    margin: auto;
    flex:3 0px;
    }

 .navbutton {
  border: 1px solid color(srgb rgb(235, 233, 233) green blue);
  border-radius: 24px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 582px;
  height: 20px;
  font-size: 16px;

}

.centrado {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;
}
.searchtitle{
  color: #d93025;
  margin-left:30px;
  margin-bottom:30px;
}

.buttonsearch {
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  border-color: #c0c2c4;
  border: 0px solid lightgray;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select:auto;
}
.buttonsearch:hover {
  border: 1px solid lightgray;
}


.left {
  display: flex;
  justify-content: left;
  padding-right: 16px;
  height: 100vh;
}
.textinput {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.questions {
  margin: 10px;
  padding: 10px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.button {
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

h6 {
 
  /* flex: 0.5 auto; */
  margin: auto;
  padding-left: 180px;
  color:#4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif


  }

.imggoogle {
  display:inline-table;
  width: 50%;
  vertical-align: left;
}

div.search_image {
  width: 50%;
  margin: 20px auto;
  padding: 15px;
}

div.search_image img {
  width: 20%;
}






  
 