body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

h4 {
    font-size: 50px;
    color: black;
}

h3{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(58, 20, 94);
}

.container_new {
    display: flex;
    flex-direction: row;
    text-align: left; 
    padding: 20px;
   
  }

textarea {
    width: 40rem;
    height: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 14px;
    field-sizing: content;
    resize: none;
    margin-left: 30px ;
   
}
.button {
    margin-left: 30px ;
    margin-top: 15px;
    text-align: center;
}
