{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h3>New entry</h3>
    <div class="container_new">
        <form class="new_page" action="{% url 'wiki:new' %}" method="post" > 
            {% csrf_token %} 
            <div>              
                <span>Title:</span>
                <input id="title" type="text" name="title_text"  value="" placeholder= "Enter new Title">
                <hr>
            </div>
            <textarea id="id_text_area" name="texto"  placeholder="Enter data"></textarea>           
            <div class="button">
                <input type="submit" name="submit_save" value="Save">
            </div>
        </form>
    </div>
{% endblock %}