body {
    padding: 10px;
    
}

.form_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    width: 40%;  
}
h2 {
    margin-top: 0px;
    padding-top: 10px;
    text-decoration: none;
    background-color: transparent;
}
 