body {
    padding: 10px;
    
}

h2 {
    margin-bottom: 10px;
}

h6 {
    margin-top: 10px;
    color: gray;
}

.listing {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.listing-image img {
    max-width: 150px;
    margin-right: 20px;
}
.listing-image-detail img {
    width: 250px; /* Set the desired width */
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.listing-details {
    flex: 1;
}

#watchlist {
    background-color: lightgray;
    border: none;
    border-radius: 5px; /* Adjust the value to make it more or less rounded */
  }

#bid {
    background-color: blue;
    border: none;
    color: white
  }